<h2>Dashboard - Click on any of your submitted posts below to edit its details or delete it.</h2>

<button id="addPost" class="btn btn-primary" type="submit">Add a new post</button>

<div class="form-popup" id="popUpForm">
    <form class="addPost-form">
        <div class="input-container ic1">
            <input type="text" class="input" id="blogTitle" placeholder="Title">
        </div>
        <div class="input-container ic2">
            <input type="text" class="input" id="blogContent" placeholder="Content">
        </div>
        <button id="addPostButton" class="btn btn-primary" type="submit">Add post</button>
    </form>
</div>

{{#each posts as |post| }}
<a href="/dashboard/posts/{{id}}">
    <div class="post-div ">
        <div class="col-md-6">
            <h3>{{post.title}}</h3>
        </div>
        <div class="col-md-6">
            <p>{{post.content}}</p>
        </div>
        <p>By user {{user.user}} on {{post.creationDate}}</p>
    </div>
</a>
{{/each}}

<script src="/js/dashboard.js"></script>